
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 11vh;
    width: 100%;
    background-color: #3b3a3a;
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 10;
  }
  
  nav button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  nav button:hover {
    text-decoration: underline;
  }
  
  section {
    /* background-color: rgb(225, 223, 204); */
    min-height: 103vh;
    z-index: -1;
  }
  
  #home {
    top: 20px;
    background-color: rgba(10, 10, 10, 0.9);;
  }

  #about {
    background-color: rgba(10, 10, 10, 0.9);
  }
  
  #contact {
    background-color: rgba(10, 10, 10, 0.9);;
  }
  
  main {
    margin-top: 50px; /* To avoid content being hidden under the navbar */
  }